openapi: 3.1.0
info:
  title: Bluejay Agents Generate Customer Personas API
  description: Bluejay API
  version: 0.1.0
servers:
- url: https://api.getbluejay.ai
  description: Production server
security:
- apiKeyAuth: []
tags:
- name: Generate Customer Personas
paths:
  /v1/generate-customer-personas:
    post:
      summary: Generate Customer Personas
      description: Generate custom personas for a given agent based on its description and knowledge base.
      operationId: generate_customer_personas_v1_generate_customer_personas_post
      security:
      - HTTPBearer: []
      parameters:
      - name: X-API-Key
        in: header
        required: true
        schema:
          type: string
        description: API key required to authenticate requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCustomPersonasRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Generate Customer Personas
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GenerateCustomPersonasRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: ID of the agent to generate personas for
        prompt_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Prompt Id
          description: Prompt UUID associated with the agent
        knowledge_base_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Knowledge Base Id
          description: Knowledge base UUID associated with the agent
        count:
          type: integer
          title: Count
          description: Number of custom personas to generate
          default: 5
        custom_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Prompt
          description: Custom instructions for persona generation
      type: object
      required:
      - agent_id
      title: GenerateCustomPersonasRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required to authenticate requests.
