openapi: 3.1.0
info:
  title: Bluejay Agents Simulation Results API
  description: Bluejay API
  version: 0.1.0
servers:
- url: https://api.getbluejay.ai
  description: Production server
security:
- apiKeyAuth: []
tags:
- name: Simulation Results
paths:
  /v1/update-simulation-result:
    post:
      tags:
      - Simulation Results
      summary: Update Simulation Result
      operationId: update_simulation_result_v1_update_simulation_result_post
      security:
      - HTTPBearer: []
      parameters:
      - name: X-API-Key
        in: header
        required: true
        schema:
          type: string
        description: API key required to authenticate requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__api__update_simulation_result__UpdateSimulationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSimulationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    src__api__update_simulation_result__UpdateSimulationRequest:
      properties:
        simulation_result_id:
          type: string
          title: Simulation Result Id
          description: Simulation result ID provided via SIP for the specific call
        events:
          anyOf:
          - items:
              $ref: '#/components/schemas/Event'
            type: array
          - type: 'null'
          title: Events
          description: List of events that occurred during the call
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - type: 'null'
          title: Tool Calls
          description: List of tool calls made during the call
        recorded_transcript:
          anyOf:
          - items:
              $ref: '#/components/schemas/TranscriptEntryRequest'
            type: array
          - type: 'null'
          title: Recorded Transcript
          description: Recorded transcript of the call (utilized to analyze STT accuracy)
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
          description: List of tags associated with the call
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: Additional metadata associated with the call
      type: object
      required:
      - simulation_result_id
      title: UpdateSimulationRequest
    UpdateSimulationResponse:
      properties:
        status:
          type: string
          title: Status
          description: Status of the response
          default: success
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Optional message providing additional information about the response
      type: object
      title: UpdateSimulationResponse
    TranscriptEntryRequest:
      properties:
        start_offset_ms:
          type: integer
          title: Start Offset Ms
          description: Start offset of the utterance in milliseconds
        end_offset_ms:
          type: integer
          title: End Offset Ms
          description: End offset of the utterance in milliseconds
        speaker:
          $ref: '#/components/schemas/ParticipantRole'
          description: Identifier for the speaker (e.g., 'AGENT', 'USER')
        utterance:
          type: string
          title: Utterance
          description: Transcribed text of the utterance
        filler_utterance:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Filler Utterance
          description: Whether the utterance is a filler utterance
      type: object
      required:
      - start_offset_ms
      - end_offset_ms
      - speaker
      - utterance
      title: TranscriptEntryRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ParticipantRole:
      type: string
      enum:
      - AGENT
      - USER
      title: ParticipantRole
      description: Enum representing the role of a participant in a call.
    ToolCall:
      properties:
        name:
          type: string
          title: Name
          description: Name of the tool called
        start_offset_ms:
          type: integer
          minimum: 0.0
          title: Start Offset Ms
          description: Start offset of the tool call in milliseconds
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the tool call
        parameters:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Parameters
          description: Parameters passed to the tool call
        output:
          anyOf:
          - {}
          - type: 'null'
          title: Output
          description: Output returned by the tool call
      type: object
      required:
      - name
      - start_offset_ms
      title: ToolCall
      description: Represents a tool call during a conversation.
    Event:
      properties:
        title:
          type: string
          title: Title
          description: Title of the event
        start_offset_ms:
          type: integer
          title: Start Offset Ms
          description: Start offset of the event in milliseconds
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the event
        end_offset_ms:
          anyOf:
          - type: integer
          - type: 'null'
          title: End Offset Ms
          description: End offset of the event in milliseconds
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
          description: List of tags associated with the event
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: Additional metadata associated with the event
      type: object
      required:
      - title
      - start_offset_ms
      title: Event
      description: Pydantic model for event data
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required to authenticate requests.
