openapi: 3.2.0
info:
  title: Bluejay Webhook Management API
  description: Bluejay API
  version: 0.1.0
servers:
- url: https://api.getbluejay.ai
  description: Production server
security:
- apiKeyAuth: []
tags:
- name: Webhook Management
paths:
  /v1/generate-signing-key:
    post:
      tags:
      - Webhook Management
      summary: Generate Signing Key
      description: Generate a new signing key for a webhook
      operationId: generate_signing_key_v1_generate_signing_key_post
      security:
      - HTTPBearer: []
      parameters:
      - name: X-API-Key
        in: header
        required: true
        schema:
          type: string
        description: API key required to authenticate requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookKeyRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/get-signing-key:
    post:
      tags:
      - Webhook Management
      summary: Get Signing Key
      description: Get the signing key for a webhook
      operationId: get_signing_key_v1_get_signing_key_post
      security:
      - HTTPBearer: []
      parameters:
      - name: X-API-Key
        in: header
        required: true
        schema:
          type: string
        description: API key required to authenticate requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookKeyRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    WebhookKeyResponse:
      properties:
        signing_key:
          type: string
          title: Signing Key
          description: Signing key
        message:
          type: string
          title: Message
          description: Message
      type: object
      required:
      - signing_key
      - message
      title: WebhookKeyResponse
      description: Response model for creating a webhook
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    WebhookKeyRequest:
      properties:
        webhook_id:
          type: string
          format: uuid
          title: Webhook Id
          description: ID of the webhook
      type: object
      required:
      - webhook_id
      title: WebhookKeyRequest
      description: Request model for creating a webhook
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required to authenticate requests.
